<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>BigBrain</title>
  <head>  
    <style>
      body {
	  background-color: #0A0B0D;
	  color:  #ECEFF4;
      }

      h1 {
	  color:  #5E81AC;
      }

      table, th, td {
          border: 1px solid #81A1C1;
          border-collapse: collapse;	
      }      
    </style>
  </head>

  <body>
    <h1> BigBrain </h1>
    <br> 
    <table>
      <tr>
	{{ range .ColumnNames}}
        <th>{{.}}</th>
	{{end}}
      </tr>
      {{ range .Rows}}
      <tr>
	{{ range .}}
        <td>{{.}}</td>
	{{end}}
      </tr>
      {{end}}
    </table>
  </body>
</html>
